<h2>Your Party's Featured Film: <%= @movie.title %></h2>

<%= form_with model: @party, url: movie_parties_path(@movie.id), method: :post, local: true do |form| %>
  <%= form.label 'Duration:' %>
  <%= form.text_field :duration, value: @movie.runtime %> <span>Minutes</span>
  <br>
  <%= form.label 'Date:' %>
  <%= form.date_field :date %>
  <br>
  <%= form.label 'Party Time:' %>
  <%= form.time_field :start_time %>
  <%= form.hidden_field :movie_title, value: @movie.title %>
  <%= form.hidden_field :host_id, value: current_user.id %>
  <br>
  <% unless @friends == nil %>
    <%= form.label 'Friends Invited:' %>
    <br>
    <% @friends.each do |friend| %>
      <%= check_box("Friend", friend.id) %>
      <%= friend.email %>
      <br>
    <% end %>
  <% end %>
  <br>
  <%= form.submit "Let's Party" %>
<% end %>
