


<section class="friends">
  <%= form_with model: @friendships, method: :post, local: true do |f| %>
    <%= f.text_field :search, id: :search, :value => "Friend's Email" %>
    <%= f.submit "Add Friend" %>
  <% end %>
  <h3>Friends</h3>
  <% if current_user.friends.empty? %>
    <p>You currently have no friends.</p>
  <% else %>
    <% current_user.friends.each do |friend| %>
      <p><%= friend.username %></p>
    <% end %>
  <% end %>
</section>

<section class="parties">
  <h3>Parties You Are Invited To:</h3>
  <% current_user.parties.each do |party| %>
    <p>Party Movie: <%= party.movie_title %>
      <br>
       Date: <%= party.start_time.strftime("%A, %B %d, %Y") %><p>
       Guests:
  <ul><% party.users.each do |user| %>
      <% if user == current_user %>
        <b><%= user.username %></b>
      <% else %>
        <br>
        <%= user.username %>
      <% end %>
    <% end %></ul>
  <% end %>

  <h3>Parties You Are Hosting:</h3>
  <% Party.parties_by_host(current_user).each do |party| %>
    <p>Party Movie: <%= party.movie_title %>
    <br>
     Date: <%= party.start_time.strftime("%A, %B %d, %Y") %><p>
     Guests:
     <ul>
     <% party.users.each do |user| %>
       <%= user.username %>
       <br>
     <% end %></ul>
  <% end %>
</section>
