<% if !current_user.nil? %>
  <h1>My name is <%= current_user.username %>, and I like to party!</h1>
<% end %>

<div align="center" class="mb-3">
  <section class="friends white_text">
    <%= form_with model: @friendships, method: :post, local: true do |f| %>
      <%= f.text_field :search, id: :search, :value => "Friend's Email" %>
      <%= f.submit "Add Friend" %>
    <% end %>
    <h3 class="white_text">Friends</h3>
    <% if current_user.friends.empty? %>
      <p class="white_text">You currently have no friends.</p>
    <% else %>
      <% current_user.friends.each do |friend| %>
        <p class="white_text"><%= friend.username %></p>
      <% end %>
    <% end %>
  </section>
</div>

<div align="center" class="mb-3">
<section class="parties">
  <h3 class="white_text">Parties You Are Invited To:</h3>
  <% current_user.parties.each do |party| %>
    <p class="white_text">Party Movie: <%= link_to "#{party.movie_title}", movie_path(party.movie_title) %>
      <br>
      Date: <%= party.start_time.strftime("%A, %B %d, %Y") %>
      <br>
      Host: <%= party.host.username %>
      Guest List:
    </p>
  <ul><% party.users.each do |user| %>
      <% if user == current_user %>
        <b><%= user.username %></b>
      <% else %>
        <br>
        <p class="white_text"><%= user.username %></p>
      <% end %>
    <% end %></ul>
  <% end %>

  <h3 class="white_text">Parties You Are Hosting:</h3>
  <% Party.parties_by_host(current_user).each do |party| %>
    <p class="white_text">Party Movie: <%= link_to "#{party.movie_title}", movie_path(party.movie_title) %>
    <br>
     Date: <%= party.start_time.strftime("%A, %B %d, %Y") %>
     <br>
     Host: <%= party.host.username %> (you)
     Guest List:
     <ul>
     </p>
     <% party.users.each do |user| %>
       <p class="white_text"><%= user.username %></p>
     <% end %></ul>
  <% end %>
</section>
</div>
