<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> have been invited to a viewing party!</h1>
    <p>
      You have been invited to "host" viewing party!
    </p>
    <p>
      Movie details<br>
      --------------------------
    </p>
    <p>Movie Title: <%= @movie.title %></p>
    <p>Duration of party: <%= @movie.duration %></p>
    <p>Day: <%= @movie.day %></p>
    <p>Start Time: <%= @movie.time %></p>
    <br>
    <p>Party Time! Excellent!</p>
  </body>
</html>
