<h1><%= @movie_details.title %></h1>

<%= @movie_details.title %>
<%= @movie_details.vote_average %>
<%= @movie_details.runtime %>

<h2>Cast</h2>

<% @cast.each do |c| %>
  <%= c.name %>
  <br>
  <%= c.character %>
  <br>
<% end %>

<h2>This Movie Has <%= @reviews.count %> Total Reviews</h2>

<% @reviews.each do |r| %>
  <h3><%= r.author %></h3>
  <br>
  <p><%= r.content %></p>
  <br>
<% end %>


