

<h1 style="text-align: center;"><%= @movie_details.title %></h1>


<h3 style="text-align: center; color: white;"> Average Vote: <%= @movie_details.vote_average %> || Runtime: <%= @movie_details.runtime %> Minutes</h3>
<div class="row row-cols-1 row-cols-md-1 mb-5 center">
      <% unless @movie_details.poster.nil? %>
        <%= image_tag @movie_details.render_image, class: 'card-img-top', width: "412" %>
      <% end %>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Cast
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <% @cast.each do |c| %>
          </p><%= c.name %>  |  <%= c.character %><p>
          <hr>
          <br>
        <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Reviews (<%= @reviews.count %>)
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <% @reviews.each do |r| %>
            <h3><%= r.author %></h3>
            <br>
            <p><%= r.content %></p>
            <br>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Genres
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <% @movie_details.genres.each do |g| %>
            <h3><%= g %></h3>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
