<h1>Please Login</h1>

<%= form_with url: '/', method: :post do |form| %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, id: :username %>
  <%= form.label :password, "Password:" %>
  <%= form.text_field :password %>
  <%= form.submit "Log In" %>
<% end %>