<h1>Discover Movies!</h1>

<% if params[:sort] == nil %>
  <%=link_to "Discover Top 40 Movies", sort: "top_40" %> 
  <br>

  <%= form_tag method: :get, sort: "search" do %>
    <%= label_tag :movie_search, 'Search for Movies' %>
    <%= text_field_tag :movie_search %><br>

    <%= submit_tag 'Search' %>
  <% end %>

<% end %>


<%  if params[:sort] == 'top_40' %>
  <%= render 'top_40' %>
<% end %>

<% if params[:sort] == 'search' %>
  <%= render 'search' %>
<% end %>


<div class="row row-cols-1 row-cols-md-3 mb-5">
  <% @upcoming_movies.each do |movie| %>
    <div class="mb-4 col-md-4">
      <div class="card h-100 border-primary">
        <% unless movie.poster.nil? %>
          <%= image_tag movie.render_image, class: 'card-img-top', width: "412" %>
        <% end %>
        <div class="card-body">
          <h3 class="card-title"><%= movie.title %></h3>
          <p class="card-text"> Vote Average: <%= movie.vote_average %> </p>
          <p class="card-text"><%= movie.overview %></p>
        </div>
        <div class="card-footer d-grid gap-2">
          <%= link_to "View", movie_path(movie.id), class: 'btn btn-outline-primary stretched-link' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
