<h1>Discover Movies!</h1>

<% if params[:sort] == nil %>
  <%=link_to "Discover Top 40 Movies", sort: "top_40" %> 
  <br>

  <%= form_tag method: :get, sort: "search" do %>
    <%= label_tag :movie_search, 'Search for Movies' %>
    <%= text_field_tag :movie_search %><br>

    <%= submit_tag 'Search' %>
  <% end %>

<% end %>


<%  if params[:sort] == 'top_40' %>
  <%= render 'top_40' %>
<% end %>

<% if params[:sort] == 'search' %>
  <%= render 'search' %>
<% end %>
